html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 100%;
    /* height: 500px; */
    display: flex;
    overflow-x: hidden;
    transition: 0.5s ease;
    scroll-behavior: smooth;
}

.box {
    aspect-ratio: 1/1;
    background-color: orange;
    display: grid;
    place-items: center;
    font-size: 100px;
    color: white;
}

.box:nth-child(even) {
    background-color: orangered;
}

.controls-con {
    margin: 0px auto;
    width: fit-content;
    margin-top: 100px;
}

.btn {
    width: 200px;
    height: 50px;
    background-color: coral;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
}

.btn:active {
    background-color: chocolate;
}